
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
.body{
    background-color: var(--up);
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sub-body{
    width: 60%;
    height: 70vh;
    
    font-weight:bold;
    position: absolute;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    line-height:30px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;

}
.sub-body p{
    font-size: 15px;
    margin-top: 10px;
}
.p{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
::-webkit-input-placeholder { /* Edge */
    color: #fff;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  ::placeholder {
    color: #fff;
  }
.login{
    width: 100%;
    background-color: var(--second);
    border: 0px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}
a:hover{
    text-decoration: none;
}
  @media only screen and (max-width:980px) {
      body{
          background-color: var(--up);
      }
    .body{
        background-color: var(--up);
        height: 700px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .sub-body{
        width: 65%;
        height: 600px;
        
        font-weight:bold;
        position: absolute;
        margin: auto;
        font-family: 'Nunito', sans-serif;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    
        line-height:30px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
    
    }
 
}