@import "index.css";
@import "feed.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


:root {
    --back : #121212;
    --up : #161616;
    --second: #1576e6;

}